* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #FAFAFA;
    margin: 54px 0 0;
    font-family: 'Roboto', sans-serif;
    color: #262626;
    font-weight: 400;
    font-size: 14px;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 54px;
    border-bottom: 1px solid #DBDBDB;
    font-size: 22px;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .navbar ion-icon, .navbar img {
    cursor: pointer;
  }
  
  .navbar .container {
    width: 100%;
    max-width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .navbar .container > * {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .navbar .logo img {
    position: relative;
    top: 3px;
  }
  
  .navbar .logo .separador {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
    margin: 0 10px;
  }
  
  .navbar .pesquisa input {
    width: 215px;
    height: 28px;
    border-radius: 3px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    color: #979797;
    text-align: center;
  }
  
  .navbar .icones ion-icon {
    margin: 0 5px;
  }
  
  .navbar .icones-mobile {
    display: none;
  }